access        = public
audit         = true
color         = false
dev           = true
engine-strict = true
if-present    = true
loglevel      = error
node-version  = 10.9.0
package-lock  = true
prefer-online = true
save          = true
save-exact    = true
save-prod     = true
script-shell  = bash
shell         = bash
